body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    border: 1px solid black;
    border-radius: 20px;
    color: whitesmoke;
    background-color: black;
    width: 80%;
    margin: 40px 0 150px 150px;

}

.banner-text {
    flex-wrap: wrap;
    width: 50%;
    height: 200px;
}

.banner-img {
    margin-left: 600px;
}

.banner-img img {
    width: 550px;
    height: 500px;
}

.banner-font {
    font-size: 4em;
    margin-top: 70px;
    margin-left: 100px;
}

.banner-discrip {
    margin-left: 100px;
}

.live-site {
    margin-left: 100px;
    background-color: red;
    width: 250px;
    border-radius: 15px;
    margin-top: 30px;
    transition: width 3s;
}

.live-site a {
    color: whitesmoke;
    font-size: 2em;
    margin-left: 30px;
    text-decoration: none;
}


.live-site:hover {
    width: 350px;
    background-color: darkred;


}

.middle-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.middle-font {
    border: 1px solid black;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    margin-left: 150px;
    text-align: center;
    display: flex;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;

}

.left-font {
    background-color: whitesmoke;
    border: 1px solid black;
    color: black;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-weight: 700;
}


#different-font {
    background-color: red;
    color: whitesmoke;
}

.upcoming-match {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width: 300px;
    height: 250px;

}

.fast-font {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.second-font {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.third-font {
    text-align: center;
    margin-bottom: 50px;
}

.upcoming-main {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-right: 120px;
    margin-bottom: 100px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

}

.big-footer {
    text-align: center;
    border-bottom: 1px solid black;
    margin-left: 150px;
    margin-right: 100px;
}

.big-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.final-footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-part {
    border: 1px solid gray;
    background-color: gray;
    color: whitesmoke;
}

.footer-icon {
    display: flex;
    text-align: center;
    font-size: 6em;
    justify-content: space-evenly;
    margin-bottom: 50px;
}